#sptab90 ul.tabs_container li.tab span{
  padding:0px 4px 0px 4px;
}
#sptab90 ul.tabs_container{
  /*border-top:1px solid #B8B7B7;  */
}
/*.mid-text{font-weight:normal;}
#nav a,#subMenusContainer ul li a{font-weight:bold!important;}
.jt-menu li a{
    font-family:'Myriad Pro';
  font-weight:bold!important;
}
.jt-menu li.item-493 ul{

  margin-left: 279px;
  width: 711px!important;
}
.jt-menu li.item-497 ul{
  /*border:1px solid red;  
  width: 374px!important;
  margin-left: 617px;
}
li.item-484 ul{
  margin-left: 158px;  
  width: 832px!important;
}
*/
.inline input[type="submit"]{
  margin-left:-1px;
  padding-top:2px!important;
  height: 22px;  
}
.inline input[type="text"]:focus{
  outline: none;
}
select.selecttext,#quick-link select,div.calculateform .modify{
-webkit-appearance: none;
}
div.footer2{
/*smn   margin-left:-415px;  */
}